/* Global Styles */
body {
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: rgb(251, 249, 249);
    background-image: url("https://cdn.wallpapersafari.com/69/39/kCRLsa.jpg");
}

a {
    color: #0077cc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

c{
    font-family: cursive;
    font-size: xx-large;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin: 0 1rem;
}

nav a {
    color: #fff;
}

main {
    margin-top: 5rem;
    padding: 1rem;
}

section {
    max-width: 800px;
    margin: 0 auto;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

p {
    margin-bottom: 1.5rem;
}

/* Portfolio Styles */
#projects article {
    margin-bottom: 3rem;
}

#projects img {
    max-width: 100%;
    height: auto;
    margin-bottom: 1rem;
}
